---
paginate: true
---
{% extends "listing.html" %}
{% set title = "Pythoned!" %}

{% block content %}

{% for post in paginator.posts %}
<article class="excerpt">
<header>
<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
<time datetime="{{ post.date | date("%Y-%m-%d") }}" pubdate="pubdate">
{{ post.date | date("%b %d, %Y") }}
</time>
</header>

{% if loop.first %}
{{ post.content }}
<p class="full-post"><a href="{{ post.url }}#comments">comments...</a></p>
{% else %}
<p>{{ post.content }}</p>
<p class="full-post"><a href="{{ post.url }}">full post...</a></p>
{% endif %}

</article>
{% endfor %}

<div class="blog-nav">
{% if paginator.previous_page != None %}
<div class="blog-prev">
<a href="/page/{{ paginator.previous_page }}">Newer</a>
</div>
{% endif %}
{% if paginator.next_page != None %}
<div class="blog-next">
<a href="/page/{{ paginator.next_page }}">Older</a>
</div>
{% endif %}
</div>

{% endblock %}
